[package]
name = "fmmap"
version = "0.1.0"
edition = "2021"
description = "a placeholder"
license = "MIT OR Apache-2.0"

[lib]
doctest = true

[features]
default = ["sync"]
nightly = []
sync = ["fs4/sync"]
tokio-async = ["fs4/tokio-async", "async-trait", "pin-project-lite", "tokio/io-std", "tokio/io-util", "tokio/fs"]
smol-async = ["fs4/smol-async", "async-trait", "pin-project-lite", "smol"]
std-async = ["fs4/std-async", "async-trait", "pin-project-lite", "async-std/async-io", "async-std/futures-lite"]

[dependencies]
async-std = { version = "1.10", optional = true }
async-trait = { version = "0.1", optional = true }
bytes = "1.1"
byteorder = "0.5"
enum_dispatch = "0.3"
fs4 = { version = "0.5", optional = true }
futures = { version = "0.3", optional = true }
memmap2 = "0.5"
pin-project-lite = { version = "0.2", optional = true }
smol = { version = "0.4", optional = true }
thiserror = "1"
tokio = { version = "1.14", optional = true }

[dev-dependencies]
async-std = { version = "1.10.0", features = ["attributes"] }
ctor = "0.1.21"
criterion = "0.3.5"
rand = "0.8.4"
smol-potat = "1.1.2"
scopeguard = "1.1.0"
tempdir = "0.3.7"
tokio = { version = "1.14.0", features = ["full"]}
tokio-test = "0.4.2"

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

